{% extends "base.html" %}
{% load static %}

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    {% block content %}

    <!--    bradcam_area  
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Маршрут</h3>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    bradcam_area  
-->
    {% if not mas %}
    <div class="job_details_area">
        <div class="container">
            <div class="row" >
                <div class="col-lg-10" >
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                
                                    <img src="{% static 'img/svg_icon/sad_train.svg' %}" alt="">
                                
                                <div class="jobs_conetent">
                                    <h4>Упссc... вы ещё не сделали ни одного заказа</h4>
                                    <a href="{% url 'index'%}"><h4>перейдите на главную и сделаете уже заказ!</h4></a>
                        
                                </div>  
                            </div>
                        </div>   
                    </div>
                </div>
            </div> 
        </div>
    </div>    
    {% endif %}
    {% for elem in mas %}
    <div class="job_details_area">
        <div class="container">
            <div class="row" >
                <div class="col-lg-10"  >
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <!--<div class="thumb">
                                    <img src="{% static 'img/svg_icon/1.svg' %}" alt="">
                                </div> -->
                                <div class="jobs_conetent">
                                    <h4>{{elem.name_product}}</h4>

                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> Адрес доставки: {{elem.address}}</p>
                                        
                                        </div>
                                        <div class="location">
                                            <p> <i class="fa fa-clock-o"></i> Дата заказа: {{elem.date}}</p>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="descript_wrap white-bg">
                        <div class="single_wrap">
                            <h4>Описание заказа</h4>
       

                            <ul>
                                
                                <li>Статус заказа: {{ elem.state }}</li>
                                
                                <li>Категория: {{ elem.category }}</li>
                                <li>Цвет: {{ elem.color }}</li>
                                <li>Размер: {{ elem.size }}</li>
                                <li>Цена заказа: {{ elem.price }}</li>
                               

                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        {% endfor %}
    </div>
    





    {% endblock %}